### Data

Home Credit strives to broaden financial inclusion for the unbanked population by providing a positive and safe borrowing experience. In order to make sure this underserved population has a positive loan experience, Home Credit makes use of a variety of alternative data--including telco and transactional information--to predict their clients' repayment abilities.

Below are the availble source files
- application_{train|test}.csv : This is the main table, broken into two files for Train (with TARGET) and Test (without TARGET). Static data for all applications. One row represents one loan in our data sample.

- bureau.csv : All client's previous credits provided by other financial institutions that were reported to Credit Bureau (for clients who have a loan in our sample).For every loan in our sample, there are as many rows as number of credits the client had in Credit Bureau before the application date.
- bureau_balance.csv: Monthly balances of previous credits in Credit Bureau.This table has one row for each month of history of every previous credit reported to Credit Bureau – i.e the table has (#loans in sample * # of relative previous credits * # of months where we have some history observable for the previous credits) rows.
- POS_CASH_balance.csv: Monthly balance snapshots of previous POS (point of sales) and cash loans that the applicant had with Home Credit. This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credits * # of months in which we have some history observable for the previous credits) rows.
- credit_card_balance.csv:Monthly balance snapshots of previous credit cards that the applicant has with Home Credit. This table has one row for each month of history of every previous credit in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credit cards * # of months where we have some history observable for the previous credit card) rows.
- previous_application.csv: All previous applications for Home Credit loans of clients who have loans in our sample.There is one row for each previous application related to loans in our data sample.
- installments_payments.csv:Repayment history for the previously disbursed credits in Home Credit related to the loans in our sample.There is a) one row for every payment that was made plus b) one row each for missed payment.One row is equivalent to one payment of one installment OR one installment corresponding to one payment of one previous Home Credit credit related to loans in our sample.
- HomeCredit_columns_description.csv This file contains descriptions for the columns in the various data files.

In [3]:
import  os 
import pandas as pd

In [4]:
print(os.listdir("../../data/homecredit/"))
path = "../../data/homecredit/"

['all.zip', 'application_test.csv', 'application_train.csv', 'bureau.csv', 'bureau_balance.csv', 'credit_card_balance.csv', 'HomeCredit_columns_description.csv', 'home_credit.png', 'installments_payments.csv', 'POS_CASH_balance.csv', 'previous_application.csv', 'sample_submission.csv']

**Reading the Data**

In [5]:
app_train = pd.read_csv(path+"application_train.csv")
app_test = pd.read_csv(path+"application_test.csv")
bur = pd.read_csv(path+"bureau.csv")
bur_bal = pd.read_csv(path+"bureau_balance.csv")
cre_bal = pd.read_csv(path+"credit_card_balance.csv")
inst_pay = pd.read_csv(path+"installments_payments.csv")
pos_cash = pd.read_csv(path+"POS_CASH_balance.csv")
prev_app = pd.read_csv(path+"previous_application.csv")

**Check dimensions and data types**

In [10]:
print("Shape of Application Train set:",app_train.shape)
print("Shape of Application Test set:",app_test.shape)

Shape of Application Train set: (307511, 122)
Shape of Application Test set: (48744, 121)

*Listing and analysis of string columns*

In [37]:
print("Number of string columns:", app_train.dtypes[app_train.dtypes ==  object].shape)
app_train.dtypes[app_train.dtypes ==  object]

Number of string columns: (16,)

NAME_CONTRACT_TYPE            object
CODE_GENDER                   object
FLAG_OWN_CAR                  object
FLAG_OWN_REALTY               object
NAME_TYPE_SUITE               object
NAME_INCOME_TYPE              object
NAME_EDUCATION_TYPE           object
NAME_FAMILY_STATUS            object
NAME_HOUSING_TYPE             object
OCCUPATION_TYPE               object
WEEKDAY_APPR_PROCESS_START    object
ORGANIZATION_TYPE             object
FONDKAPREMONT_MODE            object
HOUSETYPE_MODE                object
WALLSMATERIAL_MODE            object
EMERGENCYSTATE_MODE           object
dtype: object

In [66]:
def get_unique_values(df):
    for col in df.columns:
        if(df[col].dtypes == 'object'):
            print(col," unique values:\t", df[col].unique())
        elif(df[col].unique().size <15):
            print(col," unique values:\t", df[col].unique())
get_unique_values(app_train)

TARGET  unique values:	 [1 0]
NAME_CONTRACT_TYPE  unique values:	 ['Cash loans' 'Revolving loans']
CODE_GENDER  unique values:	 ['M' 'F' 'XNA']
FLAG_OWN_CAR  unique values:	 ['N' 'Y']
FLAG_OWN_REALTY  unique values:	 ['Y' 'N']
NAME_TYPE_SUITE  unique values:	 ['Unaccompanied' 'Family' 'Spouse, partner' 'Children' 'Other_A' nan
 'Other_B' 'Group of people']
NAME_INCOME_TYPE  unique values:	 ['Working' 'State servant' 'Commercial associate' 'Pensioner' 'Unemployed'
 'Student' 'Businessman' 'Maternity leave']
NAME_EDUCATION_TYPE  unique values:	 ['Secondary / secondary special' 'Higher education' 'Incomplete higher'
 'Lower secondary' 'Academic degree']
NAME_FAMILY_STATUS  unique values:	 ['Single / not married' 'Married' 'Civil marriage' 'Widow' 'Separated'
 'Unknown']
NAME_HOUSING_TYPE  unique values:	 ['House / apartment' 'Rented apartment' 'With parents'
 'Municipal apartment' 'Office apartment' 'Co-op apartment']
FLAG_MOBIL  unique values:	 [1 0]
FLAG_EMP_PHONE  unique values:	 [1 0]
FLAG_WORK_PHONE  unique values:	 [0 1]
FLAG_CONT_MOBILE  unique values:	 [1 0]
FLAG_PHONE  unique values:	 [1 0]
FLAG_EMAIL  unique values:	 [0 1]
OCCUPATION_TYPE  unique values:	 ['Laborers' 'Core staff' 'Accountants' 'Managers' nan 'Drivers'
 'Sales staff' 'Cleaning staff' 'Cooking staff' 'Private service staff'
 'Medicine staff' 'Security staff' 'High skill tech staff'
 'Waiters/barmen staff' 'Low-skill Laborers' 'Realty agents' 'Secretaries'
 'IT staff' 'HR staff']
REGION_RATING_CLIENT  unique values:	 [2 1 3]
REGION_RATING_CLIENT_W_CITY  unique values:	 [2 1 3]
WEEKDAY_APPR_PROCESS_START  unique values:	 ['WEDNESDAY' 'MONDAY' 'THURSDAY' 'SUNDAY' 'SATURDAY' 'FRIDAY' 'TUESDAY']
REG_REGION_NOT_LIVE_REGION  unique values:	 [0 1]
REG_REGION_NOT_WORK_REGION  unique values:	 [0 1]
LIVE_REGION_NOT_WORK_REGION  unique values:	 [0 1]
REG_CITY_NOT_LIVE_CITY  unique values:	 [0 1]
REG_CITY_NOT_WORK_CITY  unique values:	 [0 1]
LIVE_CITY_NOT_WORK_CITY  unique values:	 [0 1]
ORGANIZATION_TYPE  unique values:	 ['Business Entity Type 3' 'School' 'Government' 'Religion' 'Other' 'XNA'
 'Electricity' 'Medicine' 'Business Entity Type 2' 'Self-employed'
 'Transport: type 2' 'Construction' 'Housing' 'Kindergarten'
 'Trade: type 7' 'Industry: type 11' 'Military' 'Services'
 'Security Ministries' 'Transport: type 4' 'Industry: type 1' 'Emergency'
 'Security' 'Trade: type 2' 'University' 'Transport: type 3' 'Police'
 'Business Entity Type 1' 'Postal' 'Industry: type 4' 'Agriculture'
 'Restaurant' 'Culture' 'Hotel' 'Industry: type 7' 'Trade: type 3'
 'Industry: type 3' 'Bank' 'Industry: type 9' 'Insurance' 'Trade: type 6'
 'Industry: type 2' 'Transport: type 1' 'Industry: type 12' 'Mobile'
 'Trade: type 1' 'Industry: type 5' 'Industry: type 10' 'Legal Services'
 'Advertising' 'Trade: type 5' 'Cleaning' 'Industry: type 13'
 'Trade: type 4' 'Telecom' 'Industry: type 8' 'Realtor' 'Industry: type 6']
FONDKAPREMONT_MODE  unique values:	 ['reg oper account' nan 'org spec account' 'reg oper spec account'
 'not specified']
HOUSETYPE_MODE  unique values:	 ['block of flats' nan 'terraced house' 'specific housing']
WALLSMATERIAL_MODE  unique values:	 ['Stone, brick' 'Block' nan 'Panel' 'Mixed' 'Wooden' 'Others' 'Monolithic']
EMERGENCYSTATE_MODE  unique values:	 ['No' nan 'Yes']
DEF_30_CNT_SOCIAL_CIRCLE  unique values:	 [ 2.  0.  1. nan  3.  4.  5.  6.  7. 34.  8.]
DEF_60_CNT_SOCIAL_CIRCLE  unique values:	 [ 2.  0.  1. nan  3.  5.  4.  7. 24.  6.]
FLAG_DOCUMENT_2  unique values:	 [0 1]
FLAG_DOCUMENT_3  unique values:	 [1 0]
FLAG_DOCUMENT_4  unique values:	 [0 1]
FLAG_DOCUMENT_5  unique values:	 [0 1]
FLAG_DOCUMENT_6  unique values:	 [0 1]
FLAG_DOCUMENT_7  unique values:	 [0 1]
FLAG_DOCUMENT_8  unique values:	 [0 1]
FLAG_DOCUMENT_9  unique values:	 [0 1]
FLAG_DOCUMENT_10  unique values:	 [0 1]
FLAG_DOCUMENT_11  unique values:	 [0 1]
FLAG_DOCUMENT_12  unique values:	 [0 1]
FLAG_DOCUMENT_13  unique values:	 [0 1]
FLAG_DOCUMENT_14  unique values:	 [0 1]
FLAG_DOCUMENT_15  unique values:	 [0 1]
FLAG_DOCUMENT_16  unique values:	 [0 1]
FLAG_DOCUMENT_17  unique values:	 [0 1]
FLAG_DOCUMENT_18  unique values:	 [0 1]
FLAG_DOCUMENT_19  unique values:	 [0 1]
FLAG_DOCUMENT_20  unique values:	 [0 1]
FLAG_DOCUMENT_21  unique values:	 [0 1]
AMT_REQ_CREDIT_BUREAU_HOUR  unique values:	 [ 0. nan  1.  2.  3.  4.]
AMT_REQ_CREDIT_BUREAU_DAY  unique values:	 [ 0. nan  1.  3.  2.  4.  5.  6.  9.  8.]
AMT_REQ_CREDIT_BUREAU_WEEK  unique values:	 [ 0. nan  1.  3.  2.  4.  5.  6.  8.  7.]
AMT_REQ_CREDIT_BUREAU_QRT  unique values:	 [  0.  nan   1.   2.   4.   3.   8.   5.   6.   7. 261.  19.]

In [56]:
app_train.HOUSETYPE_MODE.unique().size
app_train.AMT_INCOME_TOTAL.dtypes == 'object'
app_train.HOUSETYPE_MODE.dtypes == 'object'

True

In [47]:

app_train.apply(lambda x: sum(x.isnull()))

KeyboardInterrupt:

*Listing all the integer columns*

In [35]:
print("Number of integer columns:", app_train.dtypes[app_train.dtypes == 'int64'].shape)

Number of string columns: (41,)

*Listing all float columns*

In [36]:
print("Number of float columns:", app_train.dtypes[app_train.dtypes == 'float64'].shape)

Number of string columns: (65,)

In [51]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
inst_pay.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [9]:
bur.head(10)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.00,0.00,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.00,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
5,215354,5714467,Active,currency 1,-273,0,27460.0,NaN,0.0,0,180000.00,71017.38,108982.62,0.0,Credit card,-31,NaN
6,215354,5714468,Active,currency 1,-43,0,79.0,NaN,0.0,0,42103.80,42103.80,0.00,0.0,Consumer credit,-22,NaN
7,162297,5714469,Closed,currency 1,-1896,0,-1684.0,-1710.0,14985.0,0,76878.45,0.00,0.00,0.0,Consumer credit,-1710,NaN
8,162297,5714470,Closed,currency 1,-1146,0,-811.0,-840.0,0.0,0,103007.70,0.00,0.00,0.0,Consumer credit,-840,NaN
9,162297,5714471,Active,currency 1,-1146,0,-484.0,NaN,0.0,0,4500.00,0.00,0.00,0.0,Credit card,-690,NaN

In [11]:
bur_bal.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [14]:
bur_bal.STATUS.value_counts()

C    13646993
0     7499507
X     5810482
1      242347
5       62406
2       23419
3        8924
4        5847
Name: STATUS, dtype: int64